.multiselect-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.multiselect-item {
  height: 30px;
  display: flex;
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--base-shade-0440, rgba(111, 118, 126, 0.4));
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
  }

  &.selected {
    background-color: #065f46;
    color: #fff;
  }

  &.more {
    height: 30px;

    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
  }

  &.highlighted {
    background-color: #ffd700;
  }

  .dropdown {
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
  }
}
