.frame-4293,
.frame-4293 * {
  box-sizing: border-box;
}
.frame-4293 {
  padding: 0px 0px 0px 7px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1157px;
  position: relative;
  padding-top: 40px;
}
.frame-4292 {
  padding: 0px 39px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 876px;
  position: relative;
}
.frame-4290 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.quests-23 {
  color: var(--base-02, #c8cbcc);
  text-align: left;
  font: 600 24px/32px "General Sans Variable", sans-serif;
  position: relative;
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-4877 {
  background: var(--base-07, #1a1d1f);
  border-radius: 8px;
  padding: 15px 38px 9px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 264px;
  position: relative;
}
.search {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.search-quest-or-project {
  color: var(--base-04, #6f767e);
  text-align: left;
  font: var(--base-base-md, 500 16px/24px "General Sans Variable", sans-serif);
  position: relative;
  flex: 1;
}
